@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

p.relogio {
    font-size: 1.8em;
}

.iniciar, .pausar, .zerar {
    border: 1px solid #fff;
    font-family: Calibri;
    outline: none;
    border-radius: 3px;
    background: rgb(25, 240, 18);
    color: rgb(19, 26, 25);
    margin: 5px;
    text-align: center;
    width: 75px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.pausado {
  color: red;
}

.rodando {
  color: green;
}